<style>
    .wide {
        width: 100%;
    }

    #footer {
        background-color: #1B4F72;
    }
</style>

<div id="footer" class="wide">
    <p style="color:#CCC; text-align:center;"> College of Engineering, University of
        California Davis </p>
</div>
<script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>