{{ define "style" }}
<style type="text/css">
    .container .group {
        text-align: center;
    }

    .container .group div {
        padding: 8px 0;
        font-size: 17px;
        font-family: Verdana, Geneva, sans-serif;
    }

    .container .group div:nth-child(odd) {
        color: #FFFFFF;
        background: #CCCCCC;
    }

    .container .group div:nth-child(even) {
        color: #FFFFFF;
        background: #979797;
    }

    .pub_text {
        font-size: 0.9em;
    }

    @media screen and (min-width:180px) and (max-width:900px) {
        .container .group div {
            margin-bottom: 0;
        }
    }
</style>
{{ end }}

{{ define "main" }}
<div class="wrapper row3">
    <div id="slide-wrapper" class="rounded clear">
        <main class="container clear">
            <table style="color:#666666" width="400" border="0" cellspacing="2" cellpadding="2"
                summary="journal publications">
                <tr>
                    <th width="9%" scope="col"><strong>Journals</strong></th>
                    <th width="6%" scope="col">&nbsp;</th>
                    <th width="85%" scope="col">&nbsp;</th>x
                </tr>
                {{ $site := site }}
                {{ $n := len .Site.Data.journals }}
                {{ range $i, $journal := .Site.Data.journals }}
                    <tr class="pub_text">
                        <td>
                            <strong>
                                <center><p>{{ $journal.journal }}</p></center>
                            </strong>
                        </td>
                        <td>
                            <strong>(</strong><strong>{{ sub $n $i }}</strong><strong>)</strong>
                        </td>
                        <td>“<a href="{{$site.BaseURL}}images/{{ $journal.file_name }}" target="blank">{{ $journal.title }}</a>”.<br>
                        {{ $journal.authors }}. <br>
                        {{ $journal.details }}. </td>
                    </tr>
                {{ end }}
            </table>

            <table style="color:#666666" width="400" border="0" cellspacing="2" cellpadding="2">
                <tr>
                    <th width="9%" scope="col"><strong>Conferences</strong></th>
                    <th width="6%" scope="col">&nbsp;</th>
                    <th width="85%" scope="col">&nbsp;</th>
                </tr>

                {{ $n := 0 }}
                {{ range .Site.Data.publications }}
                    {{ range .entries }}
                        {{ $n = add $n 1 }}
                    {{ end }}
                {{ end }}

                {{ $i := 0 }}
                {{ range .Site.Data.publications }}
                    <tr>
                        <td><strong>{{ .year }}</strong></td>
                    </tr>
                    {{ range .entries }}
                        <tr>
                            <td><strong><center>{{ .journal }}</center></strong></td>
                            <td><strong>({{ sub $n $i }})</strong></td>
                            <td>
                                {{ if eq .file_name "" }}
                                    "{{ .title }}".
                                {{ else }}
                                    <a href="{{$site.BaseURL}}images/{{ .file_name }}" target="blank">"{{ .title }}".</a>
                                {{ end }}
                                <br>
                                {{ .authors }}.
                                {{ .details }}.
                            </td>
                        <tr>

                        {{ $i = add $i 1}}
                    {{ end }}
                {{ end }}
            </table>
        </main>
    </div>


</div>


{{ end }}